@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    padding: min(10px, 8%);
    max-height: 100dvh;
    background: #F2F6F9;
    color: #172A3A;
}

  
 
  
.calc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
     max-width: min(95%, 500px);
     padding-block: min(5vw, 50px);
     padding-inline: min(5vw, 50px);
    border-radius: 10px;
    margin: 1rem auto;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.05),
  0 8px 20px rgba(0, 0, 0, 0.06);
}

#calc-input {
    max-width: 98%;
    min-width: 98%;
    height: 70px;
    border-radius: 5px;
    padding-left: 12px;
    caret-color: #d1e6f0;
    border: 1px solid #E5E7EB;
    background: #fff;
    margin: 1rem auto;
    font-size: 1.6rem;
    font-weight: 500;
}



#calc-input:focus {
    outline: none;
}

.flex-col {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.cal-num {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin-right: 1rem;
    
}

.cal-num button {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-block: 0.7rem;
    background: #D1E6F0;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #172A3A;
}

.cal-num button:nth-child(1) {
    grid-column: span 2;
}

.cal-num .equal-btn {
    background: ##2C5C76;
    color: #000;
    font-size: 1.45rem;
    font-weight: 700;
}
.signs {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin: 0 auto;
}

.signs button:nth-child(1) {
    grid-row: span 2;
}

.signs button:nth-child(3) {
    grid-row: span 2;
}

.signs button {
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    background: #D1E6F0;
    border: none;
    border-radius: 5px;
    font-size: 1.45rem;
    font-weight: 600;
}